@font-face {
    font-family: HelveticaNeueCyr;
    font-weight: 900;
    src: url(../assets/fonts/HelveticaNeueCyr/helveticaneuecyr_black.otf);
}
@font-face {
    font-family: HelveticaNeueCyr;
    font-weight: 600;
    src: url(../assets/fonts/HelveticaNeueCyr/helveticaneuecyr-bold.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr;
    font-weight: 400;
    src: url(../assets/fonts/HelveticaNeueCyr/helveticaneuecyr_roman.otf);
}
@font-face {
    font-family: HelveticaNeueCyr;
    font-weight: 300;
    src: url(../assets/fonts/HelveticaNeueCyr/helveticaneuecyr_thin.otf);
}
@font-face {
    font-family: HelveticaNeueCyr;
    font-weight: 200;
    src: url(../assets/fonts/HelveticaNeueCyr/helveticaneuecyr_ultralight.otf);
}